body {background-color: #FAF0E6;}
h1 {font-family: "Serif"; color: #B0C4DE;
Text-transform: Uppercase;}
h2 {font-family:"Serif"; color: #191970}
h3 {font-family: "Serif"; color: #4682B4}
p1 {Margin: 70Px;}
