body {background-color:lightcyan;}
h1 {font-family: Georgia, 'Times New Roman', Times, serif; color: #B0C4DE; text-transform: uppercase;}
.p1 {font-family: Georgia, 'Times New Roman', Times, serif;}
h2{font-family: cursive; color: #191970}
h3 {font-family: "Serif"; color: #4682B4}
p1 {Margin: 70Px;}